body {
            
    font-family:Arial, Helvetica, sans-serif;
}

.flex {
   display: flex;
   justify-content: center;
   gap: 50px;
}

.flex-2 {
    display: flex;
    justify-content: space-between;
 }
.aside {
    background-color: rgb(139, 139, 139);
    padding: 20px;
}

.gray {
    color: rgb(94, 94, 94);
    margin-top:0px;
}

.farbig {
    color: orange;
    background-color: lightblue;
}

.schule {
    margin-bottom: 0px;
}

.sticky {
    position: -webkit-sticky;
    position: sticky;
    top: 10px;
    align-self: flex-start;
}

table, th, td {
    border: 1px solid;
}

.col-50 {
    width: 50%;
    max-width: 50%;
    min-width: 50%;
}

.accent-yellow {
    accent-color: yellow;
}

.accent-red {
    accent-color: red;
}

.accent-blue {
    accent-color: blue;
}

.accent-green {
    accent-color: green;
}

.hidden {
    display: none;
}

.chart {
    max-width: 500px;
    min-width: 500px;
    width: 500px;
}